.fa-icon {
    display: inline;

    &.with-pl {
        padding-left: .4em;
    }

    &.with-pr {
        padding-right: .4em;
    }

    &.reverse-h {
        svg {
            transform: rotateY(180deg);
        }
    }

    &.reverse-v {
        svg {
            transform: rotateX(180deg);
        }
    }

}