.page {
    overflow-x: hidden;

    .page-content {
        transform: translateX(10vw);
        opacity: 0;
        animation: page-apparition .5s forwards;
        transition-duration: .5s;
    }
}

@keyframes page-apparition {
    100% {
        opacity: 100;
        transform: translateX(0);

    }
}