@font-face {
    font-family: defaultFont;
    src: url('./assets/font/Montserrat-Regular.ttf');
}

body {
    padding: 0;
    margin: 0;
    font-family: defaultFont, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


a,
a:hover {
    color: initial;
    text-decoration: none;
}

#sidebar #sideList {
    min-width: 60vw;
}